
:root {
  --plot-blue: #1E90FF;
  --plot-red: #E72F32;
  --plot-grid: #DDDDDD;
}

[data-bs-theme=dark] {
  --plot-blue: #62bbff;
  --plot-red: #F09899;
  --plot-grid: #333333;
}

/* Logos */
.detector-logo-sidebar {
  height: 2rem;
  width: auto;
}

.detector-logo-about {
  min-width: 50px;
  width: 30%;
  max-width: 210px;
  display: block;
  margin: 0 auto;
}

.shiny-notification {
  position: fixed;
  top: calc(50%);
  left: calc(40%);
  width: 350px;
}

/* Style for tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--bs-border-color);
  text-align: left;
}

/* Buttons */
.btn-file,
.action-button,
.actions-btn,
.option.selected,
.action-button:focus,
.actions-btn:focus,
.dt-button,
.dt-button:focus {
  white-space: normal;
  word-wrap: break-word;
}

/* ------ input elements -------- */

label {
  text-transform: capitalize;
}

.card .shiny-input-container {
  max-width: 500px;
}

/* Shiny errors */
.shiny-output-error-validation {
  text-align: center;
  height: 1.5em !important;
  color: var(--bs-light);
  background-color: var(--bs-danger);
  &::before {
    content: "⚠ Error! ";
    font-weight: inherit;
  }
}

/* ------ Plots -------- */
div.plotly.html-widget-output {
  height: auto !important;
}

/* Background color */
.plot-container.plotly {
  border-radius: 5px;
}

svg.main-svg {
  background-color: transparent !important;
}

.js-plotly-plot .plotly .cursor-pointer {
  cursor: default !important;
}


/* Improve appearance of Data Manual and About pages */
.about {
  line-height: 1.6;
  & :is(h1, h2, h3, h4) {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  }
  & img {
    display: block;
    width: 100%;
    &.logo-about {
      height: 210px;
      width: 210px;
    }
  }
  & th {
    text-align: center;
  }
}



/* Colors for verum and comparator symbols (plot header) */
.verum-col {
  color: var(--plot-blue);
}

.comparator-col {
  color: var(--plot-red);
}
/* ------ Plots -------- */

/* Background color */
.plot-container.plotly {
  background-color: var(--bs-body-bg);
}

/* Grid lines */
path.xgrid,
path.ygrid,
path.zl {
  stroke: var(--plot-grid) !important;
}

g.layer-above > g.shapelayer > path {
  stroke: var(--bs-emphasis-color) !important;
}

/* Axis ticks and titles */
g.ytick > text,
g.xtick > text,
g.x2tick > text,
g > text.xtitle,
g > text.x2title,
text.gtitle,
text.ytitle {
  fill: var(--bs-body-color) !important;
}

/* Changes significant color (set to red and blue) to a custom color */

/* Non-significant = white */
path.js-line[style*="rgb(255, 255, 255)"]:not(div#heatmap_1-heatmap_plot path.js-line) {
  stroke: var(--bs-emphasis-color) !important;
}
path[style*="rgb(255, 255, 255)"]:not(div#heatmap_1-heatmap_plot path) {
  color: var(--bs-emphasis-color) !important;
}

/* Favours comparator = red */
path[style*="rgb(255, 0, 0)"],
path[style*="fill: rgb(255, 0, 0); stroke: rgb(255, 255, 255)"]  {
  stroke: var(--plot-red) !important;
}

g.ytick > text[data-unformatted*="favours-comparator"],
g.textpoint > text[style*="rgb(255, 0, 0)"],
path[style*="rgb(255, 0, 0)"] {
  fill: var(--plot-red) !important;
}

/* Favours verum = blue */
path[style*="rgb(0, 0, 255)"],
path[style*="fill: rgb(0, 0, 255); stroke: rgb(255, 255, 255)"] {
  stroke: var(--plot-blue) !important;
}

g.ytick > text[data-unformatted*="favours-verum"],
g.textpoint > text[style*="rgb(0, 0, 255)"],
path[style*="rgb(0, 0, 255)"] {
  fill: var(--plot-blue) !important;
}

/* Text on hover boxes */
text.nums:not(div#heatmap_1-heatmap_plot text.nums) {
  fill: var(--bs-light) !important;
}

/* Text on hover boxes for non-significant values (white background) */
text.nums[style*="rgb(68, 68, 68)"]:not(div#heatmap_1-heatmap_plot text.nums) {
  fill: var(--bs-body-color) !important;
}

/* Changes non-significant color (set to white) for a custom color */
path.point[style*="rgb(255, 255, 255)"]:not(div#heatmap_1-heatmap_plot path.point),
g.textpoint > text[style*="rgb(255, 255, 255)"]:not(div#heatmap_1-heatmap_plot text) {
  fill: var(--bs-body-color) !important;
}

/* Heatmap (keep same color palette in dark and light themes at the moment)*/

/* Show outline for boxes */
div#heatmap_1-heatmap_plot path.surface {
  stroke-width: 0 !important;
  outline: var(--bs-body-bg) solid 1px;
}

/* Remove outline for largest box */
#heatmap_1-heatmap_plot g.treemaplayer > g > g:nth-child(1) > path {
  outline: 0;
}

/* Add some padding on top of treemap */
#heatmap_1-heatmap_plot > div > div > svg:nth-child(1) {
  padding-top: 10px;
}

/* Heatmap legend */
/* Change legend text color*/
#heatmap_1-heatmap_plot g.infolayer text {
  fill: var(--bs-body-color) !important;
}

/* Change legend ticks color */
#heatmap_1-heatmap_plot g.infolayer g.cbaxis.crisp > path {
  stroke: var(--bs-body-color) !important;
}
